<div id="container" class="card">
  <h1>Agenda de contactos</h1>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div>
      <label for="email" class="sr-only">Correo electrónico*</label>
      <input
        id="email"
        name="email"
        type="email"
        placeholder="Correo electrónico*"
        ngModel
        #email="ngModel"
        required
        autocomplete="email"
      />
      @if (email.invalid && !email.pristine) {
        <p class="error">Debe colocar un correo electrónico.</p>
      }
    </div>

    <div>
      <label for="password" class="sr-only">Contraseña*</label>
      <input
        id="password"
        name="password"
        type="password"
        placeholder="Contraseña*"
        ngModel
        #password="ngModel"
        minlength="4"
        autocomplete="current-password"
      />
      @if (password.invalid && !password.pristine) {
        <p class="error">Debe colocar una contraseña de al menos 4 caracteres.</p>
      }
    </div>

    <button [disabled]="isLoading || loginForm.invalid">Login</button>

    @if (isLoading) {
      <app-spinner></app-spinner>
    }

    @if (errorLogin) {
      <p class="error">Datos de sesión incorrectos, intente nuevamente.</p>
    }

    <p class="register-text">
      ¿No tenés cuenta? <a routerLink="/register">Registrate.</a>
    </p>
  </form>
</div>
